.InputWrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &--Errored {
    border-color: #ed143d;
  }

  &--Disabled {
    color: inherit;
    cursor: default;
    background-color: rgb(235, 235, 228);
  }

  &--Loading {
    background-image: linear-gradient(
                    45deg,hsla(0,0%,59%,.12) 25%,
                    transparent 0,
                    transparent 50%,
                    hsla(0,0%,59%,.12) 0,
                    hsla(0,0%,59%,.12) 75%,
                    transparent 0,
                    transparent);
    background-size: 40px 40px;
    animation: loadingAnimation .75s linear infinite
  }

  &--FullWidth {
    width: 100%;
  }

  &--Focused {
    //box-shadow: 0 0 0 2px rgba(0,0,0,1);
  }
}

.InputIcon {
  margin: 0 .5rem;
  flex-shrink: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:first-child {
    margin-right: 0;
  }

  &:last-child {
    margin-left: 0;
  }

  & > * {
    display: flex;
    max-height: 1.5rem;
  }

  &--WithDivider {
    position: relative;

    &:first-child {
      padding-right: .5rem;
    }

    &:last-child {
      padding-left: .5rem;
    }

    &:after {
      content: "";
      width: 1px;
      background-color: #ccc;
      position: absolute;
      top: 3px;
      bottom: 3px;
      z-index: 1;
    }

    &:first-child:after {
      right: 0;
    }

    &:last-child:after {
      left: 0;
    }
  }
}


.Input {
  width: 100%;
  flex-grow: 1;
  padding: .35rem 0;
  margin: 0 .5rem;
  outline: 0;
  border: 0;
  height: 2rem;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  text-overflow: ellipsis;
  background-color: transparent;
}


@keyframes loadingAnimation {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: 40px 0
  }
}