.AuthBox {
  margin: auto;
  width: 320px;

  &__TopBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__Logo {

  }

  &__Title {
    color: #fff;
  }
}